.root {
  min-height: 100vh;
  background: #f5f5f5;
}

.inner {
  min-height: 100vh;
  background: #f5f5f5;
}

.content {
  padding: 24px;
  min-height: calc(100vh - 72px);
  background: transparent;
}

@media print {
  .root,
  .inner,
  .content {
    min-height: auto;
    background: transparent !important;
  }
  .content {
    padding: 0;
  }
}
